.recommended-friends {
	border-top: var(--main-border);
	padding-top: 15px;
	padding: 20px 0px;
}

.recommended-friends__title {
	color: var(--gray-for-text);
	font-size: 18px;
}

.recommended-friends__contents {
	text-align: center;
	color: var(--gray-for-text);
	font-size: 20px;
	padding: 80px 0px;
}

.open-chat {
	border-top: var(--main-border);
	padding: 20px 0px;
}

.open-chat-post {
	margin: 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.open-chat__header {
	color: var(--gray-for-text);
	display: flex;
	justify-content: space-between;
}

.open-chat-post__column:first-child > * {
	padding: 5px 0;
}
.open-chat-post__title {
	/* color: rgb(140, 140, 140); */
	font-size: 18px;
}
.open-chat-post__hashtags {
	color: var(--gray-for-text);
	text-transform: uppercase;
	font-size: 16px;
}
.open-chat-post__members {
	display: flex;
	align-items: center;
	color: var(--gray-for-text);
}
.open-chat-post__members > .divider {
	width: 1.6px;
	background-color: var(--gray-for-text);
	height: 15px;
	margin: 0 7px;
}

.open-chat-post__members > img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.open-chat-post__status {
	color: rgb(255, 105, 196);
}

.open-chat-post__photo {
	position: relative;
}

.open-chat-post__photo > img {
	width: 110px;
	height: 110px;
	border-radius: 15px;
	position: relative;
}

.open-chat-post__heart-count {
	background-color: rgb(0, 0, 0, 0.4);
	color: white;
	padding: 6px 10px;
	border-radius: 15px;
	position: absolute;
	bottom: 10px;
	right: 5px;
	font-size: 15px;
}

@keyframes heartbeat {
	0% {
		transform: none;
	}
	60% {
		color: red;
		transform: scale(1.5);
	}
	100% {
		transform: none;
	}
}
.open-chat-post__heart-count > .fa-heart {
	will-change: transform;
	animation: heartbeat 1.2s ease-in infinite;
}
