.alt-screen-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin-top: 30px; */
	margin: 40px var(--horizontal-space) 16px;
}

.alt-screen-header__title {
	font-size: 32px;
	font-weight: 600;
	/* text-align: center; */
}

.alt-screen-header__column {
	width: 33.33%;
	display: flex;
}
.flex-column--first {
	justify-content: flex-start;
}

.flex-column--center {
	justify-content: center;
}

.flex-column--last {
	justify-content: flex-end;
}
