.badge-container {
	position: relative;
}

.badge {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	text-align: center;
	background-color: var(--badge-color);
	color: white;
}

.badge--only-border {
	background-color: inherit;
	color: var(--badge-color);
	border: 1.5px solid var(--badge-color);
	width: 9px;
	height: 9px;
	opacity: 0.7;
}
.badge--more {
	font-weight: 700;
	font-size: 16px;
	margin: 0px 5px;
}
