.icon-row {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin: 10px 0;
	color: rgb(80, 80, 80);
}

.icon-row--wrap {
	flex-wrap: wrap;
	margin-left: calc(-1 * var(--horizontal-space));
	margin-right: calc(-1 * var(--horizontal-space));
}
.icon-row--wrap > .icon-row__icon {
	width: 25%;
}

.icon-row__icon {
	width: 85px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}

.icon-row__icon > * {
	margin: 4px 0px;
}

.icon-row__icon > span {
	display: flex;
	align-items: center;
	/* width: 85px; */
	height: 40px;
	font-size: 18px;
	line-height: normal;
}

.fa-box-open + .red-dot {
	width: 5.5px;
	height: 5.5px;
	top: -5px;
	right: 45px;
}

.icon-row__image {
	width: 40px;
	height: 40px;
	margin-bottom: 0px;
}
