.nav-list {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0 30px;
	height: 7.5%;
	background-color: rgb(249, 249, 249);
	border-top: 1px solid rgb(220, 220, 220);
	box-sizing: border-box;
}
.nav-list__item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
/* .nav-message {
	position: relative;
} */

.nav-list__notification {
	position: absolute;
	top: 10px;
	right: 8px;
}
