.status-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 3px;
	font-size: 18px;
	/* position: fixed;
	width: 100%;
	top: 0px; */
	box-sizing: border-box;
}

.status-bar__column {
	width: 33.33%;
	display: flex;
	align-items: center;
}

.status-bar__column:first-child {
	justify-content: flex-start;
	padding-left: 7px;
}

.status-bar__column:nth-child(2) {
	justify-content: center;
	font-weight: bold;
}

.status-bar__column:last-child {
	justify-content: flex-end;
}
.status-bar__icon {
	width: 18px;
	margin: 0px 6px;
}
